* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header'
        'abar main'
        'footer footer';
    grid-template-columns: 15% auto;
    grid-template-rows: 6% auto 6%;
}

.header {
    grid-area: header;
    background-color: #1F51AD;
    text-align: center;
    padding-top: 10px;
    color: white;
}

.abar {
    grid-area: abar;
    background-color: #D7D7D7;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 20px;
    margin-left: 30px;
}

.menu a {
    text-decoration: none;
}

.main {
    grid-area: main;
    background-color: #D7D7D7;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;  
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card img{
    width: 300px;
    height: 350px;
}

.body-card {
    padding: 2px 16px;
    text-align: center;
    background-color: white;
}

.footer-card {
    background-color: #1F51AD;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 10px;
}

.footer {
    grid-area: footer;
    background-color: #1F51AD;
    text-align: center;
    padding-top: 10px;
    color: white;
}